.form-card{
    width: 600px;
    margin: 30px;
    height: 650px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    margin-left: 400px;
background: rgba(181, 167, 167, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
border: 1px solid rgba(181, 167, 167, 0.38);
}